* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    line-height: 1.6;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}



//fonts
$raleway:'Raleway', sans-serif;
$poppins:'Poppins', sans-serif;

//colors
$lightBlue: #059DC0;
$darkBlue: #141C3A;

//spacing
.p-30 {
    padding-bottom: 30px;
    padding-top: 30px;
}
.pb-30 {
    padding-bottom: 30px;
}
.mb-35 {
    margin-bottom: 35px;
}
.mb-60 {
    margin-bottom: 60px;
}

//helpers
.title{
    margin-top: 0;
    font-family: $raleway;
    font-weight: 600;
    font-size: 2rem;
    letter-spacing: -1px;
}

.subtitle {
    font-size: 1.125rem;
    font-family: $poppins;
    font-weight: 300;
    line-height: 1.4;
}